In [1]:
import pandas as pd
import datetime
import numpy as np

np.random.seed(101)

DAYS=300

MIN_MEAL_COUNT=40
MAX_MEAL_COUNT=60

In [2]:
today=datetime.datetime.now()

start_time=datetime.datetime(year=today.year,month=today.month,day=today.day,hour=8,minute=0)
end_time=datetime.datetime(year=today.year,month=today.month,day=today.day,hour=20,minute=0)

In [3]:
dates=[]

for _ in range(DAYS):
    dates+=[start_time+datetime.timedelta(seconds=np.random.randint(0,high=(end_time-start_time).seconds)) for _ in range(np.random.randint(MIN_MEAL_COUNT,high=MAX_MEAL_COUNT))]
    start_time=start_time+datetime.timedelta(-1)
    end_time=end_time+datetime.timedelta(-1)

dates.sort()

In [4]:
df=pd.DataFrame(dates,columns=['Order Date'])
df=df.set_index('Order Date')
df

Empty DataFrame
Columns: []
Index: [2019-11-22 08:02:36, 2019-11-22 08:24:18, 2019-11-22 08:24:44, 2019-11-22 08:47:39, 2019-11-22 08:49:34, 2019-11-22 08:54:12, 2019-11-22 09:04:42, 2019-11-22 09:29:10, 2019-11-22 09:41:47, 2019-11-22 10:16:17, 2019-11-22 10:31:10, 2019-11-22 10:32:44, 2019-11-22 10:49:33, 2019-11-22 10:54:55, 2019-11-22 11:13:21, 2019-11-22 11:38:20, 2019-11-22 12:05:35, 2019-11-22 12:10:53, 2019-11-22 12:19:47, 2019-11-22 12:21:32, 2019-11-22 12:29:22, 2019-11-22 12:46:08, 2019-11-22 12:48:36, 2019-11-22 13:32:53, 2019-11-22 14:02:21, 2019-11-22 14:28:29, 2019-11-22 14:44:07, 2019-11-22 14:44:42, 2019-11-22 14:58:59, 2019-11-22 15:14:43, 2019-11-22 15:19:01, 2019-11-22 15:30:15, 2019-11-22 16:14:47, 2019-11-22 16:26:02, 2019-11-22 16:44:18, 2019-11-22 17:50:12, 2019-11-22 17:57:46, 2019-11-22 18:09:52, 2019-11-22 18:16:31, 2019-11-22 18:31:14, 2019-11-22 18:50:24, 2019-11-22 18:54:19, 2019-11-22 19:38:28, 2019-11-22 19:57:55, 2019-11-23 08:12:05, 2019-11-23 08:32:36, 2019-11-23 08:35:12, 2019-11-23 08:40:30, 2019-11-23 09:53:08, 2019-11-23 09:57:23, 2019-11-23 10:16:47, 2019-11-23 11:10:08, 2019-11-23 11:56:03, 2019-11-23 11:59:08, 2019-11-23 12:03:58, 2019-11-23 12:13:09, 2019-11-23 12:15:52, 2019-11-23 12:35:08, 2019-11-23 12:36:05, 2019-11-23 12:37:47, 2019-11-23 12:56:17, 2019-11-23 13:26:10, 2019-11-23 13:36:57, 2019-11-23 13:50:03, 2019-11-23 14:25:56, 2019-11-23 14:44:57, 2019-11-23 14:56:35, 2019-11-23 14:57:52, 2019-11-23 15:09:26, 2019-11-23 15:37:10, 2019-11-23 15:47:12, 2019-11-23 16:07:44, 2019-11-23 16:11:38, 2019-11-23 16:22:25, 2019-11-23 16:32:35, 2019-11-23 16:32:58, 2019-11-23 16:46:04, 2019-11-23 16:58:15, 2019-11-23 17:29:36, 2019-11-23 17:32:41, 2019-11-23 17:40:33, 2019-11-23 17:42:40, 2019-11-23 18:10:09, 2019-11-23 18:17:50, 2019-11-23 18:29:23, 2019-11-23 18:32:57, 2019-11-23 18:36:40, 2019-11-23 18:48:22, 2019-11-23 19:18:36, 2019-11-23 19:45:10, 2019-11-24 08:14:22, 2019-11-24 08:33:07, 2019-11-24 08:33:26, 2019-11-24 08:50:41, 2019-11-24 08:51:26, 2019-11-24 09:06:55, 2019-11-24 09:09:10, 2019-11-24 09:09:30, 2019-11-24 09:43:40, 2019-11-24 09:52:17, ...]

[14968 rows x 0 columns]

In [5]:
meals = {
    1:{
        "name":"Rice and Curry Vegetable",
        "price":170,
    },
    2:{
        "name":"Rice and Curry Egg",
        "price":190,
    },
    3:{
        "name":"Rice and Curry Fish",
        "price":200,
    },
    4:{
        "name":"Rice and Curry Chicken",
        "price":200,
    },
    5:{
        "name":"Egg Rice",
        "price":200,
    },
    6:{
        "name":"Chicken Rice",
        "price":320,
    },
    7:{
        "name":"Egg Kottu",
        "price":200,
    },
    8:{
        "name":"Chicken Kottu",
        "price":280,
    },
    9:{
        "name":"Egg Biriyani",
        "price":250,
    },
    10:{
        "name":"Chicken Biriyani",
        "price":360,
    },
}

meal_weights = [0.04,0.07,0.09,0.2,0.1,0.15,0.1,0.15,0.04,0.06]

quantities=[1,2,3,4,5]

quantity_weights=[0.5,0.2,0.15,0.1,0.05]

name=[]
price=[]

index=np.random.choice([k for k,v in meals.items()],len(df), p=meal_weights)

for i in index:
    meal=meals[i]
    name.append(meal["name"])
    price.append(meal["price"])

quantity=np.random.choice(quantities,len(df),p=quantity_weights)

df["Order Number"]=[i+1 for i in range(len(df))]
df["Index"]=index
df["Item Name"]=name
df["Price"]=price
df["Quantity"]=quantity
df["Total"]=df["Price"]*df["Quantity"]

df

,Order Number,Index,Item Name,Price,Quantity,Total
Order Date,,,,,,
2019-11-22 08:02:36,1,2,Rice and Curry Egg,190,2,380
2019-11-22 08:24:18,2,10,Chicken Biriyani,360,5,1800
2019-11-22 08:24:44,3,3,Rice and Curry Fish,200,1,200
2019-11-22 08:47:39,4,3,Rice and Curry Fish,200,4,800
2019-11-22 08:49:34,5,4,Rice and Curry Chicken,200,1,200
...,...,...,...,...,...,...
2020-09-16 17:49:51,14964,8,Chicken Kottu,280,1,280
2020-09-16 18:02:04,14965,8,Chicken Kottu,280,1,280
2020-09-16 18:38:10,14966,3,Rice and Curry Fish,200,1,200
2020-09-16 18:42:06,14967,3,Rice and Curry Fish,200,1,200
2020-09-16 19:15:10,14968,10,Chicken Biriyani,360,4,1440

In [6]:
meals[1]['name']

'Rice and Curry Vegetable'

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 14968 entries, 2019-11-22 08:02:36 to 2020-09-16 19:15:10
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order Number  14968 non-null  int64
 1   Index         14968 non-null  int32
 2   Item Name     14968 non-null  object
 3   Price         14968 non-null  int64
 4   Quantity      14968 non-null  int32
 5   Total         14968 non-null  int64
dtypes: int32(2), int64(3), object(1)
memory usage: 643.2+ KB

In [9]:
df.to_csv("order_data.csv")